 .navbar {
  background-color: transparent;
  border-bottom: 0.5px solid black;
  z-index: 2;
}
.container-fluid {
  background-color: black;
  height: 50px;
  text-align: center;
}
.container-fluid ul {
  list-style: none;
}
.container-fluid ul li {
  float: left;
  color: wheat;
  font-size: 14px;
}
.email {
  padding-left: 50px;
}
.bold {
  font-weight: bold;
  font-size: 18px;
}
.social {
  float: right;
  padding-left: 5px;
}
.navbar-light {
  padding-left: 50px;
  background-color: white;
}
.navbar-light .navbar-brand {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: #33333f;
  padding-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
  opacity: 1;
  text-decoration: underline;
}
.navbar-light .navbar-text {
  margin-right: 30px;
}
