{% load static %}

<!DOCTYPE html>
<html>
 <head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>CosmioBlog</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <!-- Css -->
          <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
          <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
          <link
               href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
               rel="stylesheet"
               integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
               crossorigin="anonymous">

          <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
          <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>     
          <!-- font awasome font -->
          <link rel="stylesheet"
               href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
          <!-- owl carousel -->
          <link rel="stylesheet" href="../assets/css/owl.carousel.css">
          <link rel="stylesheet" href="../assets/css/owl.theme.default.css">
          <!-- stlyle css -->
          <link rel="stylesheet" href="../assets/css/style.css">


          <!-- JS -->
          <script src="https://code.jquery.com/jquery-3.4.1.min.js"
               integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
          <script
               src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
               integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
               crossorigin="anonymous">

     </script>
          <script
               src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js"
               integrity="sha256-5svdPV/pJHGKdkwy2zo8jfH1925FafkffDDabT2cEBk="crossorigin="anonymous"></script>
          <!-- owl carousel -->
          <script src="../assets/js/owl.carousel.min.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  
     </head>
     <style>
     	.navbar {
  background-color: transparent;
  border-bottom: 0.5px solid black;
  z-index: 2;
}
.container-fluid {
  background-color: black;
  height: 50px;
  text-align: center;
}
.container-fluid ul {
  list-style: none;
}
.container-fluid ul li {
  float: left;
  color: wheat;
  font-size: 14px;
}
.email {
  padding-left: 50px;
}
.bold {
  font-weight: bold;
  font-size: 18px;
}
.social {
  float: right;
  padding-left: 5px;
}
.navbar-light {
  padding-left: 50px;
  background-color: white;
}
.navbar-light .navbar-brand {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: #33333f;
  padding-left: 30px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
  opacity: 1;
  text-decoration: underline;
}
.navbar-light .navbar-text {
  margin-right: 30px;
}
</style>

     <body>
          <!-- <div class="container-fluid py-3 px-5 small font-weight-bold">
          <ul>
               <li><span class="bold">Contact Us:</span> 9800000</li>
               <li class="email"> <span class="bold">Email:</span> gmail@mail.com</li>
          </ul>
          <img class="rounded-circle social" alt="image" height="30" src="../assets/image/twiter.png" href="#">
          <img class="rounded-circle social" alt="image" height="30" src="../assets/image/insta.jpg" href="#">
          <img class="rounded-circle social" alt="image" height="30" src="../assets/image/facebook-new.png" href="#">

     </div> -->
          <nav class="navbar navbar-expand-lg navbar-light" style="position:
               sticky; top: 0;">
               <a class="navbar-brand realstate" href="/">CosmioBlog</a>
               <button class="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse py-0" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                         <li class="nav-item">
                              <a class="nav-link" href="#">Buy <span
                                        class="sr-only">(current)</span></a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Properies</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Agencies</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#">Requirements</a>
                         </li>
                         {% if request.user.is_authenticated %}
                         <li class="nav-item">
                              <a class="nav-link" href="{% url 'blogapp:login' %}"></a>
                              <a class="nav-link" href="{% url 'blogapp:logout' %}">logout</a>

                         
                          {% else %}
                          
                              <a class="nav-link" href="{% url 'blogapp:login' %}">login</a>
                              <a class="nav-link" href="{% url 'blogapp:register' %}">registration</a>
                         </li>
                         {% endif %}

                    </ul>

               </div>
          </nav>
  {% block content %}

  {% endblock %}

  <script src="{% static 'static/js/jquery.min.js' %}"></script>

  <script src="{% static 'static/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'static/js/scripts.js' %}"></script>







</body> 
</html>