{% extends 'base.html' %}

{% load static %}
{% block content %}
<h1>Title: {{detail.article.title}}</h1>
<img style='width:1000px;height:500px;' src="{{detail.image.url}}">
<p>Detail: {{detail.article.content}}</p>
<p>Author: {{detail.article.author}}</p>


<h3>Comment Form</h3>

	{% if request.user.is_authenticated %}
		<form method="POST" action="{% url 'blogapp:comment' detail.pk %}">
			{% csrf_token %}
			{{comments.as_p}}
			<button class="btn btn-primary">Submit data</button>
		</form>
	{% endif %}	 
		<h4>All Comments</h4>
		{% for comment in commentss %}
		 <li>{{comment.text}}</li>
		 <p style="color: #582703;">by {{comment.commenter.username}} {{comment.date|timesince}} ago</p>
		{% endfor %} 
{% endblock %}