{% extends 'base.html' %}

{% load static %}
{% block content %}
	
<h3>BlogList</h3>
<a href="{% url 'blogapp:create' %}">create</a> 
<div class="row">
{% for lists in list %}
	<div class="col-md-4 mt-3 mb-3">
		<div class="card" style="width: 350px;">
			{% if lists.image %}
			<img class="card-img-top" src="{{lists.image.url}}" alt="img-fluid img-thumbnail" style="height: 250px;object-fit: cover; width: 350px;">
			{% else %}
			<p>No image found!</p>

			{% endif %}
			<div class="card-body">
				<h5 class="card-title"><a style="text-decoration: none !important" href="{% url 'blogapp:detail' lists.id %}">{{lists.article.title}}</a></h5>
				<h5 class="card-title"><a style="text-decoration: none !important" href="">{{lists.article.author}}</a></h5>
			</div>
		</div>
	</div>
     

{% endfor %}
</div>
{% endblock %}